@{
    ViewBag.Title = "About";
}
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 intro-text" style="padding-bottom:60px;padding-top:180px">
                            <h1 style="font-size:50px">About Us</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div style="text-align:justify; margin-top:30px; margin-left:10%; margin-right:10%">
        <div class="row">
            
            <div class="col-lg-4" style="text-align:center;vertical-align:middle">
                <img src="~/Content/Images/Logo/Logo_final.png" height="300" width="300" style="margin-top:10%">
            </div>

            <div class="col-lg-7" style="max-width:800px; margin-top:10px; margin-bottom:10px">

                <p class="p1">
                   "Climate change is real. It is happening right now, it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating."
                    Gardeners are both stewards and guardians of our environment and can make a difference in the fight against climate change.
                </p>
                <p class="p1">
                    Team "Eco22" work for enhancing the global environment by providing innovative solutions through cutting edge technologies. We build technologies that could help humanity
                    to fight against the climatic conditions that are changing at a rapid pace.

                </p>
                <p class="p1">
                    IGardens is the website that provides details about plants that can be planted in your garden to survive the future climatic conditions based on the location.
                    We suggest our fellow gardeners with a list of plants based on the location of their garden and its properties. We try to match the best possible plants that can grow well 
                    in their garden and also help in fighting climate change. 
                    <br />
                </p>
                <p class="p1">
                    We also provide a list of various other services as follows,
                    <ul class="p1" style="margin-left:3%">
                        <li>-Provide information about your nearby nurseries where you can find the plants from your garden.</li>
                        <li>-Provide information about toxic plants that can grow in your garden.</li>
                        <li>-Provide information about locations where you can find the plants in their natural habitat.</li>
                        <li>-We help to identify the plant that you see anywhere.</li>
                    </ul>

                </p>
                <p class="p1">
                    We thank all the individuals, partners and organisations who are helping us through various means in building a social awareness technology for the greater good of humanity.
                </p>
                <p class="p1">
                    Humans have more power than we realize to fix everything that has been done in the past.
                    <b>Think globally, act locally. Your actions are needed in the fight against climate change.</b>
                </p>
                
            </div>
        </div>
    </div>


<style>
    .p1{
        font-size:17px;
        font-weight:500;        
    }
</style>