
@{
    ViewBag.Title = "DataUploadSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 intro-text" style="padding-bottom:60px;padding-top:180px">
                            <h1 style="font-size:50px">Success</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div style="height:350px">
        <h2 style="text-align:center;min-height:172px; margin-top:5%">
            Data Uploaded to Database successfully.
        </h2>
    </div>
</body>

