@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Identify Plant";
}
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 intro-text" style="padding-bottom:60px;padding-top:180px">
                        <h1 style="font-size:50px">Identify your plant</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container1" style="margin-top:20px;margin-bottom:20px">

    <div class="fa-border" style="margin-bottom:5px; background-color:#d7e6db; text-align:center; margin-left:5%; margin-right:5%;">
        
        <div id="form" style="margin-left:10%;  margin-right:10%; text-align:center; width:80%;  padding-top:30px">
            @using (Html.BeginForm("FileUpload", "Plants", FormMethod.Post,
                                        new { enctype = "multipart/form-data" }))
            {
                <p>Upload an image of the plant you want to identify.</p>
                <p><i class="fa fa-exclamation-triangle"></i> Provide a closer and clear picture of the part of the plant to help us provide correct results.</p>

                <div style="max-width: 100%; margin-right: 5%; margin-left: 5%;text-align: center;margin-top: 30px;">

                    <label for="file" style="text-align:center; border-style:dashed; border-color:gray; width:100%; max-height:400px;padding-top:20px; padding-bottom:20px"><h4><i class="fa fa-camera-retro fa-5x"></i><br />Click Here to Upload Your Image</h4></label>
                    <p>*Upload only jpg, jpeg or png images</p>
                    <input type="file" name="file" id="file" accept="image/*" style="text-align:center" />
                </div>

                <div style="margin-right:25%; margin-left:25%">
                    <Button type="submit" value="Upload" class="submit" style="text-align:center; margin-top:20px; margin-bottom:20px" onclick="show_loading()"><h4 style="color:white"><i class="fa fa-upload" aria-hidden="true"></i>  Upload</h4></Button>
                </div>
            }
        </div>
        <div id="loading" style="display:none; margin-bottom:10%">
            <p>Processing image</p>
            <img src="~/Content/Images/Utils/loading.gif" />
        </div>
    </div>

</div>
<script>
    function show_loading() {
        var x = document.getElementById("loading");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('html,body').animate({
                scrollTop: $("#loading").offset().top - 55
            }, 'slow');
        }
    }
</script>
<style>
    button[type=submit] {
        background-color: #69af07;
        color: white;
        padding: 0px 10px;
        margin: 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: middle;
    }

        button[type=submit]:hover {
            background-color: #5f9d07;
        }

    .container1 {
        margin-top: 20px;
        margin-left: 8%;
        margin-right: 8%;
        text-align: center;
        width: 100%;
        max-width: 84%;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">